---
import Section_1 from "../components/ui/Section_1.astro";
import Section_2 from "../components/ui/Section_2.astro";
import Hero from "../components/ui/Hero.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Bienvenidos a La Chingada">
	<Hero />
	<main>
		<Section_1 />
		<Section_2 />
	</main>
</Layout>
