---
import Section_1 from "../components/ui/Section_1.astro";
import Section_2 from "../components/ui/Section_2.astro";
import Section_3 from "../components/ui/Section_3.astro";
import Section_4 from "../components/ui/Section_4.astro";
import Footer from "../components/ui/Footer.astro";
import Hero from "../components/ui/Hero.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Bienvenidos a La Chingada - Restaurante Mexicano 🌮">
	<Hero />
	<main>
		<Section_1 />
		<Section_2 />
		<Section_3 />
		<Section_4 />
	</main>
	<Footer />
</Layout>
